#header {
    background: #282c34;
    color: #e1d007;
}

.nav {
    font: 12px/1.4em fira sans,Arial,sans-serif;
    text-transform: uppercase;
    color: #ffe000;
}

.nav-link:hover {
    background-color: #2f3238;
}