.pagination-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pagi-btn {
    font-family: 'Plex', sans-serif;
    text-decoration: none;
    color: #c9c9c9;
    padding: 7px 12px;
    border-radius: 5px;
    margin: 2px;
    font-size: 11px;
}

.pagi-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.pagi-current {
    background: #e9e9e9;
    color: #6a6a6a;    
}

.pagi-link, .pagi-next, .pagi-prev {
    color: #5ba3e3c2;
}

.pagi-link:hover, .pagi-next:hover, .pagi-prev:hover {
    color: #107edfc2;
    background: #e9e9e9;
}

.pagi-next, .pagi-prev {

}